<h1 class="ui inverted header">
  {{title}}
</h1>

<h2 class="ui inverted header">You need to guess at least 94% correctly to WIN.</h2>
<h2 class="ui inverted header">You have <span ng-if="won">correctly</span> guessed {{total}}% <span ng-if="won">so you have WON!</span></h2>

<form ng-submit="addWord(guessWord)">

  <div class="ui left corner labeled input">
    <input ng-model="guessWord" placeholder="Your guess..." type="text">
  </div>

</form>
<ul><li ng-repeat="word in words">{{word.name}} {{word.percent}}%</li></ul>

<div style="width:400px; height:400px">
	<canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels"></canvas>
</div>
